<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">
<head>
	<title>Cadastro de Usuário</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/upload.min.css}"/>
</head>
<section id="content" layout:fragment="conteudo">

	<!--breadcrumbs start-->
	<div id="breadcrumbs-wrapper">
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12">
					<h5 class="breadcrumbs-title">Cadastro de Usuário</h5>
					<ol class="breadcrumbs">
						<li><a href="index.html">Home</a></li>
						<li><a href="#">Cadastros</a></li>
						<li class="active">Usuário</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumbs end-->


	<!--start container-->
	<div class="container">
		<div class="section">
			<div class="divider"></div>

			<div class="row">
				<div class="col s12 m12 l12">
					<div id="card-alert" class="card green lighten-5 alert-dismissible" th:if="${not #strings.isEmpty(mensagem)}" >
                      <div class="card-content green-text">
                        <p><i class="mdi-navigation-check"></i> <span th:text="${mensagem}"></span></p>
                      </div>
                      <button type="button" class="close green-text" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
				
					<div class="card-panel hoverable">
						<h4 class="header2">Usuário</h4>
						<form method="POST" th:object="${usuario}" class="formValidate" id="formValidate">
						
								<div id="card-alert" class="card red lighten-5 alert-dismissible" th:if="${#fields.hasAnyErrors()}">
			                      <div class="card-content red-text">
			                        <th:block th:each="erro : ${#fields.detailedErrors()}">
										<div>
											<i class="mdi-alert-error"></i> 
											<span th:text="${erro.message}"></span>
										</div>
									</th:block>
			                        
			                      </div>
			                      <button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
			                        <span aria-hidden="true">×</span>
			                      </button>
			                    </div>
						
							<div class="row">
								

								<div class="col l10 offset-l1">
									<input type="hidden" th:field="*{id}"/>

									<div class="row" style="margin-top: 15px">
										<div class="input-field col s12">
											<i class="mdi-action-account-circle prefix"></i>
											<input id="nome" type="text" th:field="*{nome}"/> 
											<label for="nome"  th:classappend="${#fields.hasErrors('nome')} ? materialize-red-text">Nome</label>
										</div>
									</div>
									
									<div class="row" style="margin-top: 15px">
				                        <div class="input-field col l8">
				                          <i class="mdi-communication-email prefix"></i>
				                          <input id="e-mail" type="email" th:field="*{email}"/>
				                          <label for="e-mail" th:classappend="${#fields.hasErrors('email')} ? materialize-red-text">Email</label>
				                        </div>
				                        
				                        <div class="input-field col l4">
				                          <i class="mdi-editor-insert-invitation prefix"></i>
				                          <input id="data-nascimento" type="text" th:field="*{dataNascimento}" class="datepicker"/>
				                          <label for="data-nascimento" th:classappend="${#fields.hasErrors('dataNascimento')} ? materialize-red-text">Data Nascimento</label>
				                        </div>
				                    </div>
                     
                     
			                       <div class="row" style="margin-top: 15px">
				                        <div class="input-field col l4">
				                           <i class="mdi-action-lock-outline prefix"></i>
                                       		 <input id="password" type="password" data-error=".errorTxt3"  th:field="*{password}"/>
                                       		 <label for="password"th:classappend="${#fields.hasErrors('password')} ? materialize-red-text">Senha</label>
                                       		 <div class="errorTxt3"></div>
				                         </div>
				                         
				                         <div class="input-field col l4">
				                           <i class="mdi-action-lock-outline prefix"></i>
				                           <input id="cpassword" type="password" data-error=".errorTxt4" name="cpassword"/>
				                           <label for="confirma-senha">Confirma Senha</label>
				                           <div class="errorTxt4"></div>
				                         </div>
				                           <div class="input-field col l2 offset-l1">
				                             <div class="switch">
							                    <label>
							                      Inativo
							                      <input type="checkbox" th:field="*{ativo}"/>
							                      <span class="lever"></span> Ativo
							                    </label>
							                  </div>
				                         </div>
			                       </div>
			                       
			                        <div class="row" style="margin-top: 15px">
				                        <div class="input-field col l12">
				                        
				            				<i class="mdi-social-group prefix"></i>
				                        	<label class="">Grupos</label> 
			                     			<div class="of-checkbox">
			                     				<input type="checkbox" id="grupos" checked="checked"/>
      											<label for="grupos">Administrador</label>
			                     			</div>
			                     			<div class="of-checkbox">
			                     				<input type="checkbox" id="grupos"/>
      											<label for="grupos">Atendente</label>
			                     			</div>
			                     			<div class="of-checkbox">
			                     				<input type="checkbox" id="grupos"/>
      											<label for="grupos">Cozinheiro</label>
			                     			</div>
				                      
				                         </div>
				                       
			                       </div>
			                       
			                       <div class="row" style="margin-top: 15px">
										<div class="input-field col s12">
											<button class="btn cyan waves-effect waves-light right"
												type="submit" name="action">
												Salvar <i class="mdi-content-send right"></i>
											</button>
										</div>
									</div>
			                       
								</div>
								
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!--end container-->
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/js/uikit.min.js}"></script>
	<script th:src="@{/js/upload.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/foto-upload.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/jquery-validation/additional-methods.min.js}"></script>
	
	<script>

		//fechar alertas automatico
		$(".alert-dismissible").fadeTo(7000, 500).slideUp(500, function(){});
	
		
	</script>
  
    <script type="text/javascript">
    $("#formValidate").validate({
        rules: {
            
            password: {
				required: false,
				minlength: 6
			},
			cpassword: {
				required: false,
				equalTo: "#password"
			},
			
            cgender:"required",
			cagree:"required",
        },
        //For custom messages
        messages: {
           
            password:{
                minlength:"A senha deve ter no mínimo 6 caracteres!"
            },
            cpassword:{
            	equalTo: "Senhas não Conferem!"
            }
        },
        errorElement : 'div',
        errorPlacement: function(error, element) {
          var placement = $(element).data('error');
          if (placement) {
            $(placement).append(error)
          } else {
            error.insertAfter(element);
          }
        }
     });
    </script>
		
</th:block>

<body>