<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
		  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
		  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		  <meta name="msapplication-tap-highlight" content="no"/>
		  <meta name="description" content="OrderFood, sistema para gerenciamento de pedidos para seu estabelecimento."/>
		  <meta name="keywords" content="orderfood, pedidos, lanchonete, restaurante, cardápio,"/>
		  <title>Order Food</title>
		
		  <!-- Favicons-->
		  <link rel="icon" th:href="@{/images/favicon/favicon-32x32.png}" sizes="32x32"/>
		  <!-- Favicons-->
		  <link rel="apple-touch-icon-precomposed" th:href="@{/images/favicon/apple-touch-icon-152x152.png}"/>
		  <!-- For iPhone -->
		
		
		  <!-- CORE CSS-->
		  <link th:href="@{/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		  <link th:href="@{/css/style.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		  <!-- Custome CSS-->    
		  <link th:href="@{/css/custom/custom.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		
		  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
		  <link th:href="@{/js/plugins/prism/prism.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		  <link th:href="@{/js/plugins/perfect-scrollbar/perfect-scrollbar.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		  <link th:href="@{/js/plugins/chartist-js/chartist.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		  
		  <link th:href="@{/js/plugins/dropify/css/dropify.min.css}" type="text/css" rel="stylesheet" media="screen,projection">
	</head>
	<body>
		 <!-- Start Page Loading -->
<!-- 		 <div id="loader-wrapper"> -->
<!-- 		     <div id="loader"></div>         -->
<!-- 		     <div class="loader-section section-left"></div> -->
<!-- 		     <div class="loader-section section-right"></div> -->
<!-- 		 </div> -->
		 <!-- End Page Loading -->
		 
		 	
		<!-- Fragmentos das paginas -->
			<div th:replace="layout/fragments/header :: layout-header"></div>
			 
			  <div id="main">
			    <div class="wrapper">
			    
			    	<div th:replace="layout/fragments/sidebar :: layout-sidebar"></div>
			    	
			    	<!-- Conteúdo Principal -->
					<section  layout:fragment="conteudo"></section>
			
				</div>
			  </div>
			
			<div th:replace="/layout/fragments/footer :: layout-footer"></div>
		
		<!-- jQuery Library -->
	    <script type="text/javascript" th:src="@{/js/plugins/jquery-1.11.2.min.js}"></script>    
	    <!--materialize js-->
	    <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
	    <!--prism
	    <script type="text/javascript" th:src="@{/js/prism/prism.js}"></script>-->
	    <!--scrollbar-->
	    <script type="text/javascript" th:src="@{/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	    <!-- chartist -->
	    <script type="text/javascript" th:src="@{/js/plugins/chartist-js/chartist.min.js}"></script>   
	    
	    <!--plugins.js-->
	    <script type="text/javascript" th:src="@{/js/plugins.min.js}"></script>
	    
	    <script type="text/javascript" th:src="@{/js/plugins/jquery-validation/jquery.validate.min.js}"></script>
    	<script type="text/javascript" th:src="@{/js/plugins/jquery-validation/additional-methods.min.js}"></script>
	    
		<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
		
		<!--custom-script.js-->
	    <script type="text/javascript" th:src="@{/js/custom-script.js}"></script>

		<!-- Datatable -->
		<script type="text/javascript" th:src="@{/js/plugins/data-tables/js/jquery.dataTables.min.js}"></script>	    
   		<script type="text/javascript" th:src="@{/js/plugins/data-tables/data-tables-script.js}"></script>	    
		
		<th:block layout:fragment="javascript-extra"></th:block>
	
		

	</body>
</html>