<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
		  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
		  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		  <meta name="msapplication-tap-highlight" content="no"/>
		  <meta name="description" content="OrderFood, sistema para gerenciamento de pedidos para seu estabelecimento."/>
		  <meta name="keywords" content="orderfood, pedidos, lanchonete, restaurante, cardápio,"/>
		  <title>Order Food</title>
		
		  <!-- Favicons-->
		  <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32"/>
		  <!-- Favicons-->
		  <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png"/>
		  <!-- For iPhone -->
		  <meta name="msapplication-TileColor" content="#00bcd4"/>
		  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png"/>
		  <!-- For Windows Phone -->
		
		
		  <!-- CORE CSS-->
		  <link th:href="@{css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		  <link th:href="@{css/style.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		  <!-- Custome CSS-->    
		  <link th:href="@{css/custom/custom.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		
		  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
		  <link th:href="@{js/plugins/prism/prism.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		  <link th:href="@{js/plugins/perfect-scrollbar/perfect-scrollbar.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		  <link th:href="@{js/plugins/chartist-js/chartist.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
		  
		  <link th:href="@{js/plugins/dropify/css/dropify.min.css}" type="text/css" rel="stylesheet" media="screen,projection">
	</head>
	<body>
		 <!-- Start Page Loading -->
		 <div id="loader-wrapper">
		     <div id="loader"></div>        
		     <div class="loader-section section-left"></div>
		     <div class="loader-section section-right"></div>
		 </div>
		 <!-- End Page Loading -->
		 
		 	
		<!-- Fragmentos das paginas -->
			<div th:replace="layout/fragments/header :: layout-header"></div>
			 
			  <div id="main">
			    <div class="wrapper">
			    
			    	<div th:replace="layout/fragments/sidebar :: layout-sidebar"></div>
			    	
			    	<!-- Conteúdo Principal -->
					<section class="aw-layout-content  js-content" layout:fragment="conteudo"></section>
			
				</div>
			  </div>
			<br/><br/><br/>
			<div th:replace="/layout/fragments/footer :: layout-footer"></div>
		
		<!-- jQuery Library -->
	    <script type="text/javascript" th:src="@{js/plugins/jquery-1.11.2.min.js}"></script>    
	    <!--materialize js-->
	    <script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
	    <!--prism
	    <script type="text/javascript" th:src="@{js/prism/prism.js}"></script>-->
	    <!--scrollbar-->
	    <script type="text/javascript" th:src="@{js/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	    <!-- chartist -->
	    <script type="text/javascript" th:src="@{js/plugins/chartist-js/chartist.min.js}"></script>   
	    
	    <!-- dropify -->
    	<script type="text/javascript" th:src="@{js/plugins/dropify/js/dropify.min.js}"></script>
	    
	    <!--plugins.js-->
	    <script type="text/javascript" th:src="@{js/plugins.min.js}"></script>
	    <!--custom-script.js-->
	    <script type="text/javascript" th:src="@{js/custom-script.js}"></script>
	    
	    <script type="text/javascript">
	        $(document).ready(function(){
	            // Basic
	            $('.dropify').dropify({
	                messages:{
	                	'default': 'Arraste e solte a imagem aqui ou clique!',
	                	'replace': 'Arraste e Solte ou clique para substituir!',
	                    'remove':  'Remover'
	                    }
	                });
	
	            // Used events
	            var drEvent = $('.dropify-event').dropify();
	
	            drEvent.on('dropify.beforeClear', function(event, element){
	                return confirm("Deseja realmente remover o arquivo \"" + element.filename + "\" ?");
	            });
	
	            drEvent.on('dropify.afterClear', function(event, element){
	                alert('Arquivo removido!');
	            });
	        });

	        $('#valor').formatter({
	            'pattern': 'R$ {{999}}.{{999}},{{99}}',
	            'persistent': true
	          });
	    </script>
			  

	</body>
</html>