<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">
<head>
<title>Cadastro de Produto</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-switch.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/upload.min.css}" />
<link th:href="@{/js/plugins/data-tables/css/jquery.dataTables.min.css}"
	type="text/css" rel="stylesheet" media="screen,projection">

</head>
<body>
	<section id="content" layout:fragment="conteudo">

		<!--breadcrumbs start-->
		<div id="breadcrumbs-wrapper">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 l12">
						<h5 class="breadcrumbs-title">Lista de Pedidos Abertos</h5>
						<ol class="breadcrumbs">
							<li><a href="index.html">Home</a></li>
							<li><a href="#">Pedidos</a></li>
							<li class="active">Pedidos Abertos</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--breadcrumbs end-->


		<!--start container-->
		<div class="container">
			<div class="section">
				<div class="divider"></div>



				<div class="row">
					<div class="col s12 m12 l12">
						<div id="card-alert"
							class="card green lighten-5 alert-dismissible"
							th:if="${not #strings.isEmpty(mensagem)}">
							<div class="card-content green-text">
								<p>
									<i class="mdi-navigation-check"></i> <span
										th:text="${mensagem}"></span>
								</p>
							</div>
							<button type="button" class="close green-text"
								data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>


						<div class="card-panel hoverable">
							<h4 class="header2">Pedido</h4>

							<div id="row-grouping" class="section">
								<h4 class="header">DataTables Row grouping</h4>
								<div class="row">
									<div class="col s12 m12 l12">
										<table id="data-table-simple" class="responsive-table display"  
											cellspacing="0" width="100%">
											<thead>
												<tr>
													<th>Pedido</th>
													<th>Observacao</th>
													<th>Vl. Total</th>
													<th>Dt. Criação</th>
													<th>Cliente</th>
													<th>Mesa</th>
												</tr>
											</thead>

											<tfoot>
												<tr>
													<th>Pedido</th>
													<th>Observacao</th>
													<th>Vl. Total</th>
													<th>Dt. Criação</th>
													<th>Cliente</th>
													<th>Mesa</th>
												</tr>
											</tfoot>


											<tbody th:each="i: ${pedidoService.pedidosAbertos()}">
												<tr>
													<td th:text="${i.numped}"></td>
													<td th:text="${i.observacao}"></td>
													<td th:text="${#numbers.formatDecimal(i.valorTotal, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
													<td th:text="${i.getDataCriacao().toString()}"></td>
													<td th:text="${i.cliente}"></td>
													<td th:text="${i.mesa}"></td>
												</tr>		

											</tbody>
										</table>
									</div>
								</div>
							</div>



						</div>
						<!-- Floating Action Button -->
						<div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
							<a class="btn-floating btn-large"> <i
								class="mdi-action-stars"></i>
							</a>
							<ul>
								<li><a href="css-helpers.html" class="btn-floating red"><i
										class="large mdi-communication-live-help"></i></a></li>
								<li><a href="app-widget.html"
									class="btn-floating yellow darken-1"><i
										class="large mdi-device-now-widgets"></i></a></li>
								<li><a href="app-calendar.html" class="btn-floating green"><i
										class="large mdi-editor-insert-invitation"></i></a></li>
								<li><a href="app-email.html" class="btn-floating blue"><i
										class="large mdi-communication-email"></i></a></li>
							</ul>
						</div>
						<!-- Floating Action Button -->
					</div>
					<!--end container-->





				</div>
			</div>
		</div>

		</div>
		</div>
		<!--end container-->
	</section>
	<script type="text/javascript">
		/*Show entries on click hide*/
		$(document).ready(function() {
			$(".dropdown-content.select-dropdown li").on("click", function() {
				var that = this;
				setTimeout(function() {
					if ($(that).parent().hasClass('active')) {
						$(that).parent().removeClass('active');
						$(that).parent().hide();
					}
				}, 100);
			});
		});
	</script>
</body>
</html>