<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">
<head>
	<title>Cadastro de Produto</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/upload.min.css}"/>
</head>
<section id="content" layout:fragment="conteudo">

	<!--breadcrumbs start-->
	<div id="breadcrumbs-wrapper">
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12">
					<h5 class="breadcrumbs-title">Lista de Pedidos Abertos</h5>
					<ol class="breadcrumbs">
						<li><a href="index.html">Home</a></li>
						<li><a href="#">Pedidos</a></li>
						<li class="active">Pedidos Abertos</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumbs end-->


	<!--start container-->
	<div class="container">
		<div class="section">
			<div class="divider"></div>

			<div class="row">
				<div class="col s12 m12 l12">
					<div id="card-alert" class="card green lighten-5 alert-dismissible" th:if="${not #strings.isEmpty(mensagem)}" >
                      <div class="card-content green-text">
                        <p><i class="mdi-navigation-check"></i> <span th:text="${mensagem}"></span></p>
                      </div>
                      <button type="button" class="close green-text" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
				
					<div class="card-panel hoverable">
						<h4 class="header2">Pedido</h4>
						 
					</div>
				</div>
			</div>

		</div>
	</div>
	<!--end container-->
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/js/uikit.min.js}"></script>
	<script th:src="@{/js/upload.min.js}"></script>
	<script th:src="@{/js/bootstrap-switch.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/foto-upload.js}"></script>
	
	<script>
		$('.js-status').bootstrapSwitch();

		//fechar alertas automatico
		$(".alert-dismissible").fadeTo(7000, 500).slideUp(500, function(){});
	</script>
		
</th:block>

<body>