<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">
<head>
<title>Pedidos Fechados</title>
<link th:href="@{/js/plugins/data-tables/css/jquery.dataTables.min.css}" type="text/css" rel="stylesheet"/>
<link th:href="@{js/plugins/sweetalert/sweetalert.css}" type="text/css" rel="stylesheet"/>
</head>
<section id="content" layout:fragment="conteudo">

	<!--breadcrumbs start-->
	<div id="breadcrumbs-wrapper">
		<div class="container">
			
			<div class="row">
				<div class="col s10 m10 l10">
					<h5 class="breadcrumbs-title">Pedidos Fechados</h5>
					<ol class="breadcrumbs">
						<li><a href="index.html">Home</a></li>
						<li><a href="#">Pedidos</a></li>
						<li class="active">Fechados</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumbs end-->


		<!--start container-->
		<div class="container">
			<div class="section">
			<div class="divider"></div>

				<div class="row">
					<div class="col s12 m12 l12">

						<div class="card-panel hoverable">
							<h4 class="header2" style="padding: 7px"><i class="mdi-action-search"></i> Buscar Pedidos</h4>
								<div class="row">
									<div class="col s12 m12 l12">
										<div class="row">
											<div class="col s12 m12 l12">
												<table id="data-table-simple"
													class="responsive-table display striped">
													<thead>
														<tr>
															<th class="center">Status</th>
															<th class="center">Pedido</th>
															<th class="center">Dt. Criação</th>
															<th class="center">Vl. Total</th>
<!-- 															<th>Cliente</th> -->
															<th class="center">Mesa</th>
															<th class="center">Observações</th>
														</tr>
													</thead>
													<tfoot>
														<tr>
															<th class="center">Status</th>
															<th class="center">Pedido</th>
															<th class="center">Dt. Criação</th>
															<th class="center">Vl. Total</th>
<!-- 															<th>Cliente</th> -->
															<th class="center">Mesa</th>
															<th class="center">Observações</th>
														</tr>
													</tfoot>
													<tbody>
														<tr th:each="i: ${pedidoService.pedidosFechados()}">
															<td class="center" th:text="${i.status}"></td>
															<td class="center" th:text="${i.numped}"></td>
															<td class="center" th:text="${#temporals.format(i.dataCriacao, 'dd/MM/yyyy')}"></td>
															<td class="center"
																th:text="|R$ ${#numbers.formatDecimal(i.valorTotal, 0, 'DEFAULT', 2, 'DEFAULT')}|"></td>
<!-- 															<td th:text="${i.cliente.idcliente}"></td> -->
															<td class="center" th:text="${i.mesa.idmesa}"></td>
															<td style="padding-left: 35px;" th:text="${i.observacao}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>



									</div>
									<!-- Floating Action Button -->
									<div class="fixed-action-btn"
										style="bottom: 50px; right: 19px;">
										<a class="btn-floating btn-large cyan tooltipped" data-position="left" data-delay="50" data-tooltip="Pedidos"> 
											<i class="mdi-action-search large"></i>
										</a>
										<ul>
											<li><a th:href="@{/pedido/abertos}" class="btn-floating cyan tooltipped" data-position="left" data-delay="50" data-tooltip="Abertos"><i
													class="large mdi-action-lock-open"></i></a></li>
											<li><a th:href="@{/pedido/emandamento}"
												class="btn-floating cyan tooltipped" data-position="left" data-delay="50" data-tooltip="Em Andamento"><i
													class="large mdi-action-autorenew"></i></a></li>
											<li><a th:href="@{/pedido/fechados}"
												class="btn-floating cyan tooltipped" data-position="left" data-delay="50" data-tooltip="Fechados"><i
													class="large mdi-action-lock-outline"></i></a></li>
											<li><a th:href="@{/pedido/cancelados}" class="btn-floating cyan tooltipped" data-position="left" data-delay="50" data-tooltip="Cancelados"><i
													class="large mdi-navigation-cancel"></i></a></li>
										</ul>
									</div>
									<!-- Floating Action Button -->
								</div>
								<!--end container-->

							</div>
						</div>
					</div>

				</div>
			</div>
		<!--end container-->

	</section>

</body>
</html>