<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<body>
  <footer class="page-footer" th:fragment="layout-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © 2017 <a class="grey-text text-lighten-4" href="#" target="_blank">4dev</a> todos direitos reservados.</span>
        <span class="right"> Desenvolvido por <a class="grey-text text-lighten-4" href="http://geekslabs.com/">4dev Solutions</a></span>
        </div>
    </div>
  </footer>
</body>
</html>