<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<body>
  <header id="header" class="page-topbar" th:fragment="layout-header">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">                      
                      <li><h1 class="logo-wrapper"><a th:href="@{index.html}" class="brand-logo darken-1"><img th:src="@{/images/orderfood/orderfoodlogo.png}" alt="orderfood logo"/></a> <span class="logo-text">Materialize</span></h1></li>
                    </ul>
                    
                    <ul class="right hide-on-med-and-down">
                        
                        <li><a href="#" class="waves-effect waves-block waves-light" th:text="${#authentication.name}"></a>
                        </li>
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>
                         <li><a th:href="@{/logout}" class="waves-effect waves-block waves-light"><i class="mdi-hardware-keyboard-tab"></i></a>
                        </li>
                        
                    </ul>
                  
                </div>
            </nav>
        </div>
        <!-- end header nav-->
  </header>
  </body>
  </html>
