<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Venda Finalizada</title>
<link th:href="@{/css/cupom.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<table class="printer-ticket">
 	<thead>
		<tr>
			<th class="title" colspan="5">Order Food Restaurantes</th>
		</tr>
		<tr>
			<th colspan="5">
				Consumidor <br />
			</th>
		</tr>
		<tr>
			<th class="ttu" colspan="5">
				<b>Cupom não fiscal</b></br>
				[[${#temporals.format(agora, 'dd/MM/yyyy')}]] - [[${#temporals.format(agora, 'HH:mm')}]]
			</th>
		</tr>
		<tr class="sup ttu p--0">
			<td colspan="5">
				<b>MESA:  <strong>[[${venda.numeroMesa}]]</strong></b>
			</td>
		</tr>
		<tr class="sup">
			<td align="left"><b>ped</b></td>
			<td><b>descrição</b></td>
			<td align="center"><b>qnt</b></td>
			<td align="right"><b>unit</b></td>
			<td align="right"><b>total</b></td>
		</tr>
	</thead>
	<tbody th:each="pedido : ${pedidos}">
		
		
		<tr class="top" th:each="item : ${pedidoService.retornaItenPorPedido(pedido.numped)}">
			<td align="left">[[${pedido.numped}]]</td>
			<td>[[${item.nome}]]</td>
			<td align="center">[[${item.quantidade}]]</td>
			<td align="right">R$[[${item.valorUnitario}]]</td>
			<td align="right">R$[[${item.valorTotal}]]</td>
		</tr>
		
		
	</tbody>
	<tfoot>
		<tr class="sup">
			<td colspan="5" align="center">
				<b>nº pedidos: <strong><span th:each="pedido : ${pedidos}" th:text="|${pedido.numped}${pedidoStat.last ? '' : ', '}|"></span></strong></b>
			</td>
		</tr>
		<tr class="sup ttu p--0">
			<td colspan="5">
				<b>Totais</b>
			</td>
		</tr>
		<tr class="ttu">
			<td colspan="4">Sub-total</td>
			<td align="right">R$ [[${venda.valor}]]</td>
		</tr>
		<tr class="ttu">
			<td colspan="4">Taxa de serviço</td>
			<td align="right">R$0,00</td>
		</tr>
		<tr class="ttu">
			<td colspan="4">Desconto</td>
			<td align="right">0,00%</td>
		</tr>
		<tr class="ttu">
			<td colspan="4">Total</td>
			<td align="right">R$ [[${venda.valor}]]</td>
		</tr>
		<tr class="sup ttu p--0">
			<td colspan="5">
				<b>Pagamentos</b>
			</td>
		</tr>
		
		<tr class="ttu">
			<td colspan="4">Dinheiro</td>
			<td align="right">R$ [[${venda.valor}]]</td>
		</tr>
		
		<tr class="sup">
			<td colspan="5" align="center">
				<b><strong>Obrigado pela Preferência!</strong></b>
			</td>
		</tr>
		<tr class="sup">
			<th colspan="5" align="center">
				www.orderfood.com.br
			</th>
		</tr>
		<tr class="sup">
			<th colspan="5" align="center">
				<button type="button" onclick="window.print();">Imprimir</button>
			</th>
		</tr>
	</tfoot>
	
</table>
	
</body>
</html>