<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">
<head>
<title>Dashboard</title>
</head>
<section id="content" layout:fragment="conteudo">

	<!--breadcrumbs start-->
	<div id="breadcrumbs-wrapper">
		<div class="container">

			<div class="row">
				<div class="col s10 m10 l10"  style="margin-bottom: 30px;">
					<h5 class="breadcrumbs-title">Dashboard</h5>
				</div>


			</div>
		</div>
	</div>
	<!--breadcrumbs end-->


	<!--start container-->
	<div class="container">
		<!--card stats start-->
		<div class="divider"></div>
		<div id="card-stats" style="margin-top: 50px;">
			<div class="row">
				<div class="col s12 m6 l3">
					<div class="card hoverable">
						<div class="blue-grey white-text">
							<div class="row">
								<div class="col l4 blue-grey darken-2 center-align" style="padding-right: 0px;">
									<i class="mdi-editor-attach-money large"></i>
								</div>
								<div class="col l8 center-align card-content" style="padding-left: 0px; margin-top: 15px;">
									<p class="card-stats-title">
										Vendas no Ano
									</p>
									<h4 class="card-stats-number">R$ [[${{totalNoAno}}]]</h4>
									<p class="card-stats-title">
									<i class="mdi-editor-insert-invitation"></i>
										[[${#temporals.format(agora, 'yyyy')}]]
									</p>
								</div>
							</div>
						</div>
						<div class="card-action  blue-grey darken-2 white-text">
							<div class="center-align">
							</div>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="card hoverable">
						<div class="teal white-text">
							<div class="row">
								<div class="col l4 teal darken-2 center-align" style="padding-right: 0px;">
									<i class="mdi-maps-local-atm large"></i>
								</div>
								<div class="col l8 center-align card-content"  style="padding-left: 0px; margin-top: 15px;">
									<p class="card-stats-title">
										Vendas no Mês
									</p>
									<h4 class="card-stats-number">R$ [[${{totalNoMes}}]]</h4>
									<p class="card-stats-title">
									<i class="mdi-editor-insert-invitation"></i>
										[[${#temporals.monthName(agora)}]]
									</p>
								</div>
							</div>
						</div>
						<div class="card-action  teal darken-2 white-text">
							<div class="center-align">
							</div>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="card hoverable">
						<div class="deep-orange white-text">
							<div class="row">
								<div class="col l4 deep-orange darken-2 center-align" style="padding-right: 0px;">
									<i class="mdi-action-shopping-cart large"></i>
								</div>
								<div class="col l8 center-align card-content" style="padding-left: 0px; margin-top: 15px;">
									<p class="card-stats-title">
										Todos Pedidos
									</p>
									<h4 class="card-stats-number">[[${totalPedidos}]]</h4>
									<p class="card-stats-title">
									<i class="mdi-editor-insert-invitation"></i>
										[[${#temporals.format(agora, 'yyyy')}]]
									</p>
								</div>
							</div>
						</div>
						<div class="card-action  deep-orange darken-2 white-text">
							<div class="center-align">
							</div>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="card hoverable">
						<div class="cyan white-text">
							<div class="row">
								<div class="col l4 cyan darken-2 center-align" style="padding-right: 0px;">
									<i class="mdi-maps-restaurant-menu large"></i>
								</div>
								<div class="col l8 center-align card-content" style="padding-left: 0px; margin-top: 15px;">
									<p class="card-stats-title">
										Produtos Cadastrados
									</p>
									<h4 class="card-stats-number">[[${{totalItens}}]]</h4>
									<p class="card-stats-title">
									<i class="mdi-editor-insert-invitation"></i>
										Hoje
									</p>
								</div>
							</div>
						</div>
						<div class="card-action  cyan darken-2 white-text">
							<div class="center-align">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--card stats end-->
		<div class="row" style="margin-top: 50px;">
              <div class="col s12 m8 l8">
                  <div class="card hoverable">
                      <div class="card-move-up waves-effect waves-block waves-light">
                          <div class="move-up green lighten-3">
                              <div>
                                  <span class="chart-title white-text">Ultimos Cinco Meses</span>
                                  <div class="chart-revenue teal darken-2 white-text">
                                      <p class="chart-revenue-total">R$ [[${totalCincoMeses}]]</p>
                                  </div>
                              </div>
                              <div class="trending-line-chart-wrapper">
                                  <canvas id="graficoVendasPorMes" height="70"></canvas>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
              
               <div class="col s12 m4 l4">
                  <div class="card hoverable">
                      <div class="card-move-up waves-effect waves-block waves-light">
                          <div class="move-up blue lighten-3">
                              <div>
                              </div>
                              <div class="trending-line-chart-wrapper">
                                  <canvas id="graficoPorMesa" height="170"></canvas>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>

          </div>

	</div>
	<!-- end container-->
</section>

<th:block layout:fragment="javascript-extra">
	 <!-- chartjs -->
	 <script type="text/javascript" th:src="@{/js/Chart.min.js}"></script>
	 <script type="text/javascript" th:src="@{/js/dashboard.js}"></script>
	 <script type="text/javascript" th:src="@{/js/dashboard.mesa.js}"></script>
</th:block>

<body>