<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">
<head>
<title>Cadastro de Mesa</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-switch.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/upload.min.css}" />
</head>
<body>
	<section id="content" layout:fragment="conteudo">

		<!--breadcrumbs start-->
		<div id="breadcrumbs-wrapper">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 l12">
						<h5 class="breadcrumbs-title">Cadastro de Mesa</h5>
						<ol class="breadcrumbs">
							<li><a href="index.html">Home</a></li>
							<li><a href="#">Cadastros</a></li>
							<li class="active">Mesa</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--breadcrumbs end-->


		<!--start container-->
		<div class="container">
			<div class="section">
				<div class="divider"></div>

				<div class="row">
					<div class="col s12 m8 l8 offset-l3">
						<div id="card-alert"
							class="card green lighten-5 alert-dismissible"
							th:if="${not #strings.isEmpty(mensagem)}">
							<div class="card-content green-text">
								<p>
									<i class="mdi-navigation-check"></i> <span
										th:text="${mensagem}"></span>
								</p>
							</div>
							<button type="button" class="close green-text"
								data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>

						<div class="card-panel hoverable col l6">
							<h4 class="header2">Cadastrar Nova Mesa</h4>
							
							
							<form method="POST" th:object="${mesa}" class="formValidate"
								id="formValidate">
									<div class="row">
										<div class="left col l4 offset-l1">
											<input type="hidden" th:field="*{idmesa}" />
											<select th:field="*{descricao}">
												<option th:value="'MESA '+${qtdMesas}" th:text="'MESA '+${qtdMesas}"></option>
											</select>
										</div>
								
										<div class="right col l3">
											<button class="btn-floating btn-large primary blue" type="submit">
												<i class="mdi-content-add"></i>
											</button>
										</div>
									</div>
								
								<div id="card-alert"
									class="card red lighten-5 alert-dismissible"
									th:if="${#fields.hasAnyErrors()}">
									<div class="card-content red-text">
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<div>
												<i class="mdi-alert-error"></i> <span
													th:text="${erro.message}"></span>
											</div>
										</th:block>

									</div>
									<button type="button" class="close red-text"
										data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="row">
									
									<div class="col l12">
											<ul class="collection">
												<th:block th:each="mesa : ${mesas}">
													<li class="collection-item avatar">
														<i class="mdi-maps-restaurant-menu circle green darken-2"></i> 
														<span class="title" th:text="${mesa.descricao}"></span>
														<p>
															Ativa
														</p> 
														<a href="#" class="secondary-content">
															<i class="mdi-content-create"></i>
														</a>
													</li>
												</th:block>
											
											</ul>
	
									</div>

								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!--end container-->

	</section>
	<th:block layout:fragment="javascript-extra">
		<script>

			//fechar alertas automatico
			$(".alert-dismissible").fadeTo(7000, 500).slideUp(500, function(){});
	
		
		</script>
	
	</th:block>

</body>

</html>