<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao"
	xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">
<head>
<title>Status das Mesas</title>
<link th:href="@{/js/plugins/jsgrid/css/jsgrid.min.css}" type="text/css" rel="stylesheet" media="screen,projection">
<link th:href="@{/js/plugins/jsgrid/css/jsgrid-theme.min.css}" type="text/css" rel="stylesheet" media="screen,projection">
<link th:href="@{/js/plugins/sweetalert/sweetalert.css}" type="text/css" rel="stylesheet"/>
<link th:href="@{/css/cupom.css}" type="text/css" rel="stylesheet"/>
</head>
<body onload="connect();">
	<section id="content" layout:fragment="conteudo">

		<!--breadcrumbs start-->
		<div id="breadcrumbs-wrapper">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 l12">
						<h5 class="breadcrumbs-title">Status da Mesa</h5>
						<ol class="breadcrumbs">
							<li><a href="index.html">Home</a></li>
							<li><a href="#">Monitorar</a></li>
							<li class="active">Mesa</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--breadcrumbs end-->


		<!--start container-->
		<div class="container">
			<div class="section">
				<div class="divider"></div>


						<div class="row">
							<div class="col s12 m3 l2" th:each="i: ${mesaService.selectMesaList()}">

								<div th:id="mesaStatus+${i.idmesa}" class="js-mesas"
									th:classappend="${i.status == 'DISPONIVEL' ? 'card hoverable blue-grey darken-1' : 'card hoverable deep-orange darken-1'}">
									<div class="white-text center-align">
										<div>
											<span class="card-title mesa-titulo" th:text="'Mesa '+${i.idmesa}"></span>
										</div>
										
										<div class="mesa-imagem card-image waves-effect waves-light modal-trigger center-align"
											th:href="${'#modal'+i.idmesa}" data:id="${i.idmesa}">
											
												<img th:src="@{/images/mesa.png}" class="responsive-img"/>
											
										</div>
										
										<div class="row" style="margin-bottom: 15px;">
											<div th:classappend="${i.status == 'DISPONIVEL'?'green-text':'red-text'}" class="chip center-align"
											 	 th:id="descStatus+${i.idmesa}" >
											 	<span th:text="${i.status == 'DISPONIVEL' ? 'Diponível' : 'Ocupada'}"></span>
											</div>
										</div>
									</div>
									<div th:id="modal+${i.idmesa}" class="modal">
									
										<div class="modal-content">
											<div class="row">
												<div class="col s12 m12 l12">
													<div class="card">
				                                       	<span class="grey-text text-darken-4"></span>
				                                       	<div class="card-content">
				                                       		<span class="card-title mesa-titulo" th:text="'Mesa '+${i.idmesa}" style="margin-left: 5px;"></span>
				                                       		<span th:classappend="${i.status == 'DISPONIVEL'?'blue-grey darken-1':'deep-orange darken-1'}" style="margin-right: 10px;"
				                                       			class="chip white-text right mdi-action-cached"
				                                       			 th:text="${i.status == 'DISPONIVEL' ? 'Diponível' : 'Ocupada'}"></span>
				                                       		<div class="tabela"></div>
						                                       	
				                                       	</div>
														   <div class="card-reveal">
						                                        <span class="card-title grey-text text-darken-4">Itens do Pedido <i class="mdi-navigation-expand-more right grey-text"></i></span>


																<div class="jsGrid-odata" style="margin-top: 10px;"></div>

																
															</div>	
												</div>
											</div>

										</div>
										<div class="modal-footer">
									
											<a class="btn waves-effect waves-light cyan left js-confirma-btn modal-action
											modal-close"
												 	data:url="@{/mesa/status/finalizarmesa/{idmesa}(idmesa=${i.idmesa})}"
													 data:mesa="${i.idmesa}" data:total="${mesaService.totalPorMesa(i.idmesa)}" >
												<i class="large mdi-editor-attach-money right"></i>
												Finalizar
											</a> 
											<a class="waves-effect waves-green btn-flat modal-action
											modal-close"><i class="mdi-navigation-arrow-forward red-text"></i></a>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		<!--end container-->


	</section>

</body>

<th:block layout:fragment="javascript-extra">
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	 <script type="text/javascript" th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script> 
	<script src="/js/app.js"></script>
	
	<script type="text/javascript" th:src="@{/js/plugins/jsgrid/js/jsgrid.min.js}"></script>
	<script th:src="@{/js/pedidos.js}"></script>
	
</th:block>
</html>
