<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-simples">
<head>
	<title>Login</title>
	
</head>

 
<body class="cyan">
<section id="content" layout:fragment="conteudo">
	<div class="row">
	 <div id="login-page" class="col s12">
	    <div class="z-depth-4 card-panel">
	    	<div class="row">
	          <div class="input-field col s12 center">
	            <img th:src="@{/images/logo-login.png}" alt="" class="circle responsive-img valign profile-image-login">
	            <p class="center login-form-text">Por favor, faça o login!</p>
	          </div>
	          <div class="center login-form-text red-text" th:if="${#bools.isTrue(param.error)}">
					<p>O usuario e/ou senha não conferem</p>
				</div>
	        </div>
	      <form class="login-form" th:action="@{/login}" method="POST">
	        
	        <div class="row margin">
	          <div class="input-field col s12">
	            <i class="mdi-social-person-outline prefix"></i>
	            <input id="username" type="text" name="username"/>
	            <label for="username" class="center-align">Usuário</label>
	          </div>
	        </div>
	        <div class="row margin">
	          <div class="input-field col s12">
	            <i class="mdi-action-lock-outline prefix"></i>
	            <input id="password" type="password" name="password"/>
	            <label for="password">Senha</label>
	          </div>
	        </div>
	        <div class="row">          
	          <div class="input-field col s12 m12 l12  login-text">
	              <input type="checkbox" id="remember-me" name="remember-me" />
	              <label for="remember-me">Lembre-me</label>
	          </div>
	        </div>
	        <div class="row" style="margin-bottom: 35px;">
	          <div class="input-field col s12">
	            <button class="btn waves-effect waves-light col s12" type="submit">Login</button>
	          </div>
	        </div>
	
	      </form>
	    </div>
	  </div>
	</div>

  
</section>

</body>

</html>